<div class="body">
  <section>
    <div class="containe">
      <div class="car">
        <div class="conten">
          <div class="imgB"><img src="../../assets/selfie.jpeg" alt="" /></div>
          <div class="contentB">
            <h3>Matheus Hespagnola<br /><span>Developer intern</span></h3>
          </div>
          <!-- <ul class="sc">
            <li>
              <p>Hi, i'm developer intern at CI&T, i work with frontend, using angular as the main framework</p>
            </li>
            <li>
              <a href="#">a</a>
            </li>
            <li>
              <a href="#">a</a>
            </li>
          </ul> -->
          <p>
            Hi, i'm developer intern at CI&T, i work with frontend, using
            angular as the main framework. I'm completing 1 year of career as a
            developer, and I'm studying information systems at PUC campinas, in
            the second year. I am an extroverted person, I do well working in a
            group, and in my free time I like to exercise.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
